@using Rubin.Static
@using Rubin.Static.Infrastructure
@using Rubin.Static.Extensions
@using Rubin.Static.Rendering
@{
    var categories = await SharedViewViewModel.Instance.GetCategoryPosts();
}
<!DOCTYPE html>
<html>
<head>
    <title>Daniel Frost - @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Assets/styles.css" />
</head>

<body>
    <div class="menu">
        <span class="frontpage-identifier"><a href="index.html">Forside</a> | <a href="all.html">Alle posts</a></span>
    </div>

    @RenderBody()

    <div class="menu">
        <span class="frontpage-identifier"><a href="index.html">Forside</a> | <a href="all.html">Alle posts</a> | </span>
        @{
            foreach (var item in categories)
            {
                <span><a href="@item.Key.Slug.ToUri()">@item.Key.Title (@item.Value.Count())</a> | </span>
            }
        }

    </div>
</body>

</html>
